<extend name="Public/nomenu" />

<block name="main">

    <switch name="type">
        <case value="0">
            <p class="alert">{$msg}</p>
        </case>
        <case value="1">
            <p class="alert">你暂时还没有组织</p>
            <div class="origiseCreate">
                <a href="/origiseApply?id=1" style="background-color: #FF0000">创建社团</a>
                <a href="/origiseApply?id=2" style="background-color: #4e8455">创建企业</a>
                <a href="/addOrignise" style="background-color: #FF0000">加入组织</a>
            </div>
        </case>
        <case value="2">
            <div class="orignisediv">
                <div>
                    <p>社团名称<span>$10000</span></p>
                <p>社团负责人<span>$10000</span></p>
               
                </div>
                <div>
                     <p>社团成员<span>400</span></p>
                    <ul class="origniseul" style="margin-top:5px;">
                    <li>奇迹社团成员1</li>
                    <li>奇迹社团成员2</li>
                    <li>奇迹社团成员3</li>
                    <li>奇迹社团成员4</li>
                    <li>奇迹社团成员5</li>
                    <li>奇迹社团成员6</li>
                </ul>
                </div>
            </div>
        </case>
        <case value="3">
            <div class="orignisediv business">
                <div>
                    <p>企业名称<span>$10000</span></p>
                <p>企业负责人:<span>奇迹</span></p>
               
                </div>
                <div>
                     <p>企业成员:<span>400</span></p>
                    <ul class="origniseul businessul" style="margin-top:5px;">
                    <li>奇迹社团成员1</li>
                    <li>奇迹社团成员2</li>
                    <li>奇迹社团成员3</li>
                    <li>奇迹社团成员4</li>
                    <li>奇迹社团成员5</li>
                    <li>奇迹社团成员6</li>
                </ul>
                </div>
            </div>
        </case>

    </switch>


    <style>
        .alert{
            padding: .2rem;
            font-size: .4rem;
            text-align: center;
        }
        .origiseCreate{
            overflow: hidden;
        }
        .origiseCreate a{
            display: block;
            width: 33.33%;
            height: 1.4rem;
            line-height: 1.4rem;
            font-size: .4rem;
            text-align: center;
            float: left;
            color: #FFFFFF;
        }
        .orignisediv >div{
            width:100%;
            overflow:hidden;
            padding:0.18rem;
        }
        .orignisediv p{
           font-size:0.36rem;
            width:100%;
            height:0.54rem;
            /*text-align:center;*/
        }
        .origniseul{
            overflow:hidden;
            border:1px solid pink;
        }
        .origniseul li{
            display:inline-block;
            float:left;
            width:33.30%;
            height:0.54rem;
            line-height:0.54rem;
            text-align:center;
            border:0.018rem solid pink;
            /*border-bottom:0.018rem solid pink;*/
        }
        .origniseul li:nth-last-child(3){
            
        }
    </style>

</block>