<extend name="Public/nomenu" />

<block name="main">
    <article class="article">
        <h2 class="article-title">XXXXX活动</h2>
        <div class="content"> 学活动策划书格式及范文 大学活动策划书格式 一、策划书名称 尽可能具体的写出策划名称，如“×年×月×日信息系×活动策划书”，置于页面中央。 二、活动背景： 这部分内容应根据策划书的特点在以下项目中选取内容重点阐述，具体项目有：基本情况简介、主要执行对象、近期状况、组织部门、活动开展原因、社会影响、以及相关目的动机。其次应说明问题的环境特征，主要考虑环境的内在优势、弱点、机会及威胁等因素，对其作好全面的分析(SWOT分析)，将内容重点放 在环境分析的各项因素上，对过去现在的情况进行详细的描述，并通过对情况的预测制定计划。如环境不明，则应该通过调查研究等方式进行分析加以补充。 三、活动目的及意义： 活动的目的、意义应用简洁明了的语言将目的要点表述清楚；在陈述目的要点时，该活动的核心构成或策划的独到之处及由此产生的意义都应该明确写出。 四、活动名称： 根据活动的具体内容影响及意义拟定能够全面概括活动的名称。 五、活动目标： 此部分需明示要实现的目标及重点（目标选择需要满足重要性、可行性、时效性）。 六、活动开展： 作为策划的正文部分，表现方式要简洁明了，使人容易理解。在此部分中，不仅仅局限于用文字表述，也可适当加入统计图表等；对策划的各工作项目，应按照 时间的先后顺序排列，绘制实施时间表有助于方案核查。另外，人员的组织配置、活动对象、相应权责及时间地点也应在这部分加以说明，执行的应变程序也应该在这部分加以考虑。 七、经费预算： 活动的各项费用在根据实际情况进行具体、周密的计算后，用清晰明了的形式列出。 八、活动中应注意的问题及细节： 内外环境的变化，不可避免的会给方案的执行带来一些不确定性因素，因此，当环境变化时是否有应变措施，损失的概率是多少，造成的损失多大等也应在策划中加以说明。 九、活动负责人及主要参与者： 注明组织者、参与者姓名、单位（如果是小组策划应注明小组名称、负责人）。 信息系活动策划书基本模式 为指导同学们写出专业化、规范化的策划书，有效开展各项活动，现提供基本策划书模式如下： 1、策划书须制作一张封面，装订时从纸张长边装订； 2、系级以上的策划须按如上格式交电子版和打印版各一份。</div>

    </article>
    <div class="">
    </div>
    <style>
        .article{
            padding: .3rem;
        }
        .article-title{
            padding: .2rem;
            text-align: center;
        }
        .content{
            line-height: .45rem;
        }
    </style>
</block>