<extend name="Public/nomenu" />

<block name="main">
    <div class="form-wrp page">

        <form class="form">
            <div class="field">
                <input type="text" class="" id="name" name="name" placeholder="请输入您的姓名" style="color:#000000">
            </div>
            <div class="field">
                <input type="tel" class="" id="tel" name="tel" style="color:#000000" placeholder="请输入您的联系方式">
            </div>
            <div class="field">
                <input type="email" class="" id="email" name="email" style="color:#000000" placeholder="请输入您的邮箱">
            </div>
            <div class="field">
                <input type="file" class="" id="file" name="tel" style="color:#000000;padding: 0" value="浏览">
            </div>
            <div class="field" style="text-align: right">
                <a href="/upload/moban/apply.doc" style="color:#007aff;text-decoration: blink">点击下载活动申请表,填写后上传>></a>
            </div>


            <button class="submit-btn" onclick="">提交</button>
            <!--<p class="text">点击登录，即表示您同意沃德股市气象站 <a href="/license">用户协议</a>和 <a href="/disclaimer">免责声明</a></p>-->
        </form>
    </div>
</block>