<extend name="Public/nomenu" />
<block name="main">
    <div class="comment-div">
        <div class="comment-add">
            <form action="" method="POST">
                <textarea id="" name="" rows="4" style="width:100%;margin:0 0;"></textarea>
                <button type="submit" class="submit-btn">提交</button>
            </form>
        </div>
        <div class="comment-list">
            <ul class="comment-ul">
                <li>
                    <p><span class="creator">发布人</span><span class="creatTiem">2016-09-10</span></p>
                    <p>这里是评论内容这里是评论内容这里是评论内容这里是评论这里是评论内容这里是评论内容这里是评论内容这里是评论内容内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论这里是评论内容这里是评论内容这里是评论内容这里是评论内容内容这里是评论内容这里是评论内容这里是评论内容</p>
                </li>
                <li>
                    <p><span class="creator">发布人</span><span class="creatTiem">2016-09-10</span></p>
                    <p>这里是这里是评论内容这里是评论内容这里是评论内容这里是评论内容评论内容</p>
                </li>
                <li>
                    <p><span class="creator">发布人</span><span class="creatTiem">2016-09-10</span></p>
                    <p>这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容这里是评论内容</p>
                </li>
                <li>
                    <p><span class="creator">发布人</span><span class="creatTiem">2016-09-10</span></p>
                    <p>这里是评论内容</p>
                </li>
                <li>
                    <p><span class="creator">发布人</span><span class="creatTiem">2016-09-10</span></p>
                    <p>这里是评论内容</p>
                </li>
            </ul>
        </div>
        <div>
            <style type="text/css">
                .comment-add {
                    overflow: hidden;
                }
                
                .submit-btn {
                    width: 1.81rem;
                    height: 0.54rem;
                    line-height: 0.54rem;
                    text-align: center;
                    background-color: #5cb85c;
                    /*border-color:#5cb85c;*/
                    border-radius: 0.108rem;
                    border: none;
                    float: right;
                    margin-right: 0.18rem;
                }
                
                .comment-list {
                    width: 100%;
                    height: auto;
                }
                
                .comment-list ul {
                    width: inherit;
                    display: inline-block;
                }
                .comment-list ul li{
                    margin:0.29rem 0;
                    
                }
                .comment-list ul li p {
                    width: inherit;
                    font-size: 0.29rem;
                    display:block;
                   margin-bottom:0.18rem;
                }
                .comment-list ul li p span{
                    display:inline-block;
                    margin-right:0.18rem;
                    
                }
            </style>
</block>