html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility; }

html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  color: #232323;
  text-decoration: none;
  background-color: transparent; }

a:active {
  text-decoration: none;
  outline: 0; }
a:hover {
  text-decoration: none;
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

@media screen and (max-width: 319px) {
  html {
    font-size: 42.66667px; } }
@media screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 42.66667px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 48px; } }
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 50px; } }
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 51.2px; } }
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 53.33333px; } }
@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }
body {
  margin: 0;
  font-size: 0.28rem;
  color: #232323; }

.wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto; }

.header {
  font-size: .30rem;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 750px;
  height: 1rem;
  padding: .34rem .3rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fffeff;
  background: #f22b3e; }
  .header .header-title {
    text-align: center; }

.menu {
  font-size: .28rem;
  position: fixed;
  z-index: 1030;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 750px;
  border-top: 1px solid #EEEEEE;
  height: 1rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #232323;
  background: #fffeff;
  padding-top: .15rem; }
  .menu li {
    width: 25%;
    float: left;
    text-align: center; }
    .menu li .fa {
      color: #e2e2e2;
      font-size: 0.4rem; }
  .menu .active > a {
    color: #FF0000; }
    .menu .active > a .fa {
      color: #FF0000; }

.fixed-header {
  padding-top: 1rem !important; }

.fixed-menu {
  padding-bottom: 1rem !important; }

.form-wrp {
  /*background: #000000;*/
  padding-top: 0.4rem;
  border-top: 1px solid #a8a8a8; }

.form-wrp .form {
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  max-width: 750px;
  margin: 0 auto; }

.form-wrp .form .field {
  position: relative;
  width: 100%;
  height: 0.6rem;
  margin-bottom: 0.2rem; }

.form-wrp .form .mobile-field .filed-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.80rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-left: 1px solid #aaa;
  background: #f22b3e;
  color: #fff; }

.form-wrp .form input {
  border: 1px solid #aaa;
  outline: none;
  height: 0.6rem;
  padding: 0.12rem;
  line-height: 0.36rem;
  font-size: 0.28rem;
  width: 100%;
  background: #fff;
  color: #000000;
  margin-bottom: .2rem;
  -webkit-appearance: none; }

.form-wrp .form .submit-btn {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  background: #f22b3e;
  color: #fff;
  border: none;
  outline: none; }

.form-wrp .form .text {
  font-size: 0.24rem; }

.form-wrp .form .text a {
  color: #f22b3e;
  text-decoration: none; }

.ul-wrp {
  width: 100%;
  padding: 0.2rem; }
  .ul-wrp .list-item {
    height: 2rem;
    border: 1px solid #DADADA;
    padding: .2rem;
    position: relative;
    margin-top: .2rem;
    margin-bottom: .2rem; }
    .ul-wrp .list-item img {
      width: 1.5rem;
      height: 1.5rem;
      float: left; }
    .ul-wrp .list-item .list_center {
      width: 50%;
      float: left;
      margin-left: 2%;
      overflow: hidden; }
      .ul-wrp .list-item .list_center h3 {
        font-size: 14px;
        height: 20px;
        width: 160px;
        overflow: hidden;
        margin-top: 5px; }
      .ul-wrp .list-item .list_center .ul_start {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block; }
        .ul-wrp .list-item .list_center .ul_start li.start {
          display: inline-block;
          float: left;
          width: 16px;
          height: 16px; }
        .ul-wrp .list-item .list_center .ul_start :not(:nth-of-type(1)) {
          margin-left: 5px; }
        .ul-wrp .list-item .list_center .ul_start li.checked {
          background: url("../images/u15.png") no-repeat scroll;
          background-size: cover; }
        .ul-wrp .list-item .list_center .ul_start li.unchecked {
          background: url("../images/u71.png") no-repeat scroll;
          background-size: cover; }
      .ul-wrp .list-item .list_center .numbers {
        clear: both;
        color: #222;
        font-size: .2rem; }
      .ul-wrp .list-item .list_center .address {
        clear: both;
        color: #999;
        font-size: .2rem; }
    .ul-wrp .list-item .list_right {
      width: 20%;
      height: inherit;
      float: right;
      margin-top: .4rem;
      vertical-align: middle; }
    .ul-wrp .list-item .red {
      color: #f60d2e; }

/*# sourceMappingURL=app.css.map */
