<include file="Public/head"/>
<body style="padding: 70px;">
<include file="Public/header"/>

<div class="login-div">
    <div>
        <form role="form" method="post" action="/adminUserLogin">
            <div class="form-group">
                <label for="inputEmail1">邮箱</label>
                <input type="email" class="form-control" name="email" id="inputEmail1" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="inputPassword">密码</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success">登录</button>
        </form>
    </div>
</div>

<style>
    body{
        background-color: #f7f7f7;
    }

    button{
        width:150px;
        margin:0 75px;
    }
    .login-div{
        width:300px;
        height:500px;
        display:table;
        margin:0 auto;
    }
    .login-div>div{
        display:table-cell;
        vertical-align:middle;

    }
</style>
</body>