<extend name="Public/nomenu" />

<block name="src">
    <link rel="stylesheet" type="text/css" href="__CSS__/ns-default.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/ns-style-attached.css" />

</block>

<block name="main">
    <div class="form-wrp page">
        <div class="form">
            <div class="mobile-field field">
                <input type="tel" class="mobile-number" id="tel" placeholder="请输入手机号" style="color:#000000">
            </div>

            <div class="keyword-field field">
                <input type="password" class="mobile-keywords" id="keywords" placeholder="请输入密码" style="color:#000000">
            </div>
            <button class="login-btn submit-btn" onclick="do_login()">登录</button>
            <input type="hidden" id="refererUrl" value="{$refererUrl}">
            <!--<p class="text">点击登录，即表示您同意沃德股市气象站 <a href="/license">用户协议</a>和 <a href="/disclaimer">免责声明</a></p>-->
        </div>
    </div>

    <script src="__JS__/modernizr.custom.js"></script>
    <script src="__JS__/classie.js"></script>
    <script src="__JS__/notificationFx.js"></script>
    <script>
        (function () {
            //限制输入数字
            $('input#tel').keyup(function(){
                var c=$(this);
                if(/[^\d]/.test(c.val())){
                    //替换非数字字符
                    var temp_amount=c.val().replace(/[^\d]/g,'');
                    $(this).val(temp_amount);
                }
                //保证11位
                if(c.val().length>11){
                    var temp = c.val().substr(0,11);
                    $(this).val(temp);
                }
            });
        })();
        /**
         * 检查电话号码是否正确
         * @param str
         * @returns {boolean}
         */
        function checkMobile(str) {
            if (str == "") {
                return false;
            } else {
                var re = /^1\d{10}$/;
                if (re.test(str)) {
                    return true;
                } else {
                    return false;
                }
            }
        }
        
        function  do_login() {
            var tel = $('#tel').val();
            var keyword = $('#keywords').val();
            if(checkMobile(tel)==false){
                $('input#tel').focus();
            }
            if(keyword.length<6||keyword.length>20){
                $('input#keywords').focus();
            }
            $.ajax({
                url:'/ajaxDoLogin',
                type:'post',
                data:{
                    tel:tel,
                    keyword:keyword
                },
                dataType:'json',
                success:function (data) {
                    if(data.status==100){
                        var refererUrl = $('#refererUrl').val();
                        if(refererUrl!=''){
                            window.location.href=refererUrl;
                        }else{
                            window.location.href='/club';
                        }
                    }
                }
            })
        }
    </script>
</block>

