<extend name="Public/layout" />
<block name="main">
    <div class="company_div">
        <div class="company_list">
            <div class="list_left_ul">
                <ul>
                    <li>百度校园粉丝吧</li>
                    <li>百度校园</li>
                </ul>
            </div>
            <div class="list_right_ul">
                <ul>
                    <li>积分59202</li>
                    <li>￥3456</li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        .company_list{
            overflow:hidden;
        }
        .list_left_ul{
            display:inline-block;
            float:left;
        }
        .list_right_ul{
            display:inline-block;
            float:right;
        }
    </style>
</block>