<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">大创奇迹</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="activeCheck"><a href="/activeCheck">活动审核</a></li>
                    <li class="orginseCheck"><a href="/orginseCheck">组织审核</a></li>
                    <li class="demandadd"><a href="/demandadd">发布需求</a></li>
                    <li class="demandList"><a href="/demandList">需求列表</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script type="text/javascript">
        $(function(){
            var path = window.location.pathname;
            console.log(path);
            if(path=='/activeCheck'){
                console.log(path)
                $(".navbar-nav .activeCheck").addClass("active");
            }else if(path=='/orginseCheck'){
                $(".navbar-nav .orginseCheck").addClass("active");

            }else if(path=='/demandadd'){
                $(".navbar-nav .demandadd").addClass("active");

            }else if(path=='/demandList'){
                $(".navbar-nav .demandList").addClass("active");
            }
        });
    </script>
</header>