<!DOCTYPE html>
<html lang="en" class="borderbox">
<head>
    <meta content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <title>奇迹 {$pageTitle}</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <script src="__COMMON__/jquery.min.js"></script>

    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__COMMON__/jquery.cookie.js"></script>
    <!--引入外部样式-->
    <block name="src"></block>
</head>
