// device media query width
@mixin mediaquery( $min , $max ){
  @if $min == -1{
    @media screen and ( max-width: $max+px ) {
      html{
        font-size: ( ($max+1) / 375 ) * 50px;
      }
    }
  } @else if $max == -1{
    @media screen and ( min-width: $min+px ) {
      html{
        font-size: ( $min / 375 ) * 50px;
      }
    }
  } @else{
    @media screen and ( min-width: $min+px ) and ( max-width: $max+px ) {
      html{
        font-size: ( $min / 375 ) * 50px;
      }
    }
  }
}
