<div class="ul-wrp">
    <ul class="active-doby">
        <li class="list-item">
            <a href="/activeInfo/id/1">
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a>
                <img src="__IMG__/1.jpg" />
                <div class="list_center">
                    <h3>发布标题</h3>
                    <ul class="ul_start">
                        <li class="start checked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                        <li class="start unchecked"></li>
                    </ul>
                    <div class="numbers" id="numbers">活动人数：42342人</div>
                    <div class="address">活动地点：活动中心</div>
                </div>
                <div class="list_right">
                    <p>所需经费</p>
                    <p class="red">￥23423</p>
                </div>
            </a>
        </li>
    </ul>
</div>