<div class="menu">
    <ul>
        <li class="item-club">
            <a href="/club">
                <p class="club-img"><i class="fa fa-flag" aria-hidden="true"></i></p>
                <p>社团活动</p>
            </a>
        </li>
        <li class="item-business">
            <a href="/business">
                <p><i class="fa fa-building" aria-hidden="true"></i></p>
                <p>企业活动</p>
            </a>
        </li>
        <li class="item-history">
            <a href="/history">
                <p><i class="fa fa-clock-o" aria-hidden="true"></i></p>
                <p>往期</p>
            </a>
        </li>
        <li class="item-me">
            <a href="/me">
                <p><i class="fa fa-user" aria-hidden="true"></i></p>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<script src="__JS__/app.js"></script>
