<div class="swiper-wrp" style="width: 100%;">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="height: 3.5rem;">
                hello
            </div>
            <div class="swiper-slide" style="height: 3.5rem;">
                hello
            </div>
            <div class="swiper-slide" style="height: 3.5rem;">
                hello
            </div>
            <div class="swiper-slide" style="height: 3.5rem;">
                hello
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="__MODULE__/swiper/swiper-3.3.1.min.css">
    <script src="__MODULE__/swiper/swiper-3.3.1.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            direction: 'horizontal',
            loop: true,
        });

    </script>
</div>
