.form-wrp {
  /*background: #000000;*/
  padding-top: 0.4rem;
  border-top: 1px solid #a8a8a8; }
.form-wrp .form {
  width: 100%;
  padding: 0 0.2rem;
  text-align: center;
  max-width: 750px;
  margin: 0 auto; }
.form-wrp .form .mobile-field ,.form-wrp .form .keyword-field{
  position: relative;
  width: 100%;
  height: 0.6rem;
  margin-bottom: 0.2rem; }

.form-wrp .form .mobile-field .filed-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.80rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-left: 1px solid #aaa;
  background: #f22b3e;
  color: #fff; }

.form-wrp .form .mobile-field input,
.form-wrp .form .keyword-field input,
.form-wrp .form .verify-code-field input {
  border: 1px solid #aaa;
  outline: none;
  height: 0.6rem;
  padding: 0.12rem;
  line-height: 0.36rem;
  font-size: 0.28rem;
  width: 100%;
  background: #fff;
  margin-bottom: .2rem;
  -webkit-appearance: none; }


.form-wrp .form .login-btn {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  background: #f22b3e;
  color: #fff;
  border: none;
  outline: none; }
.form-wrp .form .text {
  font-size: 0.24rem; }
.form-wrp .form .text a {
  color: #f22b3e;
  text-decoration: none; }