.ul-wrp{
  width: 100%;
  padding: 0.2rem;

.list-item {
  height: 2rem;
  border: 1px solid #DADADA;
  padding: .2rem;
  position: relative;
  margin-top: .2rem;
  margin-bottom: .2rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      float: left;
    }
  .list_center {
    width: 50%;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    h3 {
      font-size: 14px;
      height: 20px;
      width: 160px;
      overflow: hidden;
    }
    .ul_start {
      margin-bottom: 5px;
      display: inline-block;
      li.start {
        display: inline-block;
        float: left;
        width: 16px;
        height: 16px;
      }
      :not(:nth-of-type(1)) {
        margin-left: 5px;
      }
      li.checked {
        background: url("../images/u15.png") no-repeat scroll;
        background-size: cover;
      }
      li.unchecked {
        background: url("../images/u71.png") no-repeat scroll;
        background-size: cover;
      }
    }
    .numbers {
      clear: both;
      color: #222;
      font-size: .2rem;
    }
    .address {
      clear: both;
      color: #999;
      font-size: .2rem;
    }
  }
  .list_right {
    width: 20%;
    height: inherit;
    float: right;
    margin-top: .4rem;
    vertical-align: middle;
  }
  .red {
    color: #f60d2e;
  }
}
}
